body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:600px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:600px;
}

.u1 {
    position:absolute;
    left:2px;
    top:292px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2 {
    position:absolute;
    left:200px;
    top:310px;
    width:90px;
    height:90px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u3 {
    position:absolute;
    left:300px;
    top:290px;
    width:300px;
    height:150px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u4 {
    position:absolute;
    left:563px;
    top:140px;
    width:110px;
    height:100px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

