    .light_first {
	    background-image: url(/module/pipe/monitor/history/images/light_first.png) !important;
	}
	.light_play {
	    background-image: url(/module/pipe/monitor/history/images/light_play.png) !important;
	}
	.light_pause {
	    background-image: url(/module/pipe/monitor/history/images/light_pause.png) !important;
	}
	.light_stop {
	    background-image: url(/module/pipe/monitor/history/images/light_stop.png) !important;
	}
	.light_last {
	    background-image: url(/module/pipe/monitor/history/images/light_last.png) !important;
	}
	
	.dark_first {
	    background-image: url(/module/pipe/monitor/history/images/dark_first.png) !important;
	}
	.dark_play {
	    background-image: url(/module/pipe/monitor/history/images/dark_play.png) !important;
	}
	.dark_pause {
	    background-image: url(/module/pipe/monitor/history/images/dark_pause.png) !important;
	}
	.dark_stop {
	    background-image: url(/module/pipe/monitor/history/images/dark_stop.png) !important;
	}
	.dark_last {
	    background-image: url(/module/pipe/monitor/history/images/dark_last.png) !important;
	}
