body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:600px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:600px;
}

.u1 {
    position:absolute;
    left:2px;
    top:292px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:720px;
    top:530px;
    width:60px;
    height:50px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u2_text_sketch {
    font-family: 'Applied Font';
}

.u3_container {
    position:absolute;
    left:725px;
    top:535px;
    width:50px;
    height:40px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:40px;
}

.u4 {
    position:absolute;
    left:2px;
    top:12px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:22px;
    top:530px;
    width:60px;
    height:50px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5_text_sketch {
    font-family: 'Applied Font';
}

.u6_container {
    position:absolute;
    left:27px;
    top:535px;
    width:50px;
    height:40px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:40px;
}

.u7 {
    position:absolute;
    left:2px;
    top:12px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:30px;
    top:135px;
    width:90px;
    height:25px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u9 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u10_container {
    position:absolute;
    left:30px;
    top:288px;
    width:90px;
    height:25px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u11 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u12_container {
    position:absolute;
    left:120px;
    top:165px;
    width:90px;
    height:25px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u13 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u14_container {
    position:absolute;
    left:126px;
    top:265px;
    width:90px;
    height:25px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u15 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u16_container {
    position:absolute;
    left:128px;
    top:340px;
    width:90px;
    height:25px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u17 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u18_container {
    position:absolute;
    left:217px;
    top:147px;
    width:90px;
    height:25px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u19 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u20_container {
    position:absolute;
    left:217px;
    top:205px;
    width:90px;
    height:25px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u21 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u22_container {
    position:absolute;
    left:218px;
    top:260px;
    width:90px;
    height:25px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u23 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u24_container {
    position:absolute;
    left:217px;
    top:305px;
    width:90px;
    height:25px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u25 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u26_container {
    position:absolute;
    left:218px;
    top:354px;
    width:90px;
    height:25px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u27 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u28_container {
    position:absolute;
    left:218px;
    top:400px;
    width:90px;
    height:25px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u29 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u30_container {
    position:absolute;
    left:250px;
    top:440px;
    width:90px;
    height:25px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u31 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u32_container {
    position:absolute;
    left:250px;
    top:485px;
    width:90px;
    height:25px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u33 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u34_container {
    position:absolute;
    left:311px;
    top:310px;
    width:90px;
    height:25px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u35 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u36_container {
    position:absolute;
    left:308px;
    top:125px;
    width:90px;
    height:25px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u37 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u38_container {
    position:absolute;
    left:408px;
    top:135px;
    width:90px;
    height:25px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u39 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u40_container {
    position:absolute;
    left:408px;
    top:195px;
    width:90px;
    height:25px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u41 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u42_container {
    position:absolute;
    left:408px;
    top:260px;
    width:90px;
    height:25px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u43 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u44_container {
    position:absolute;
    left:408px;
    top:305px;
    width:90px;
    height:25px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u45 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u46_container {
    position:absolute;
    left:408px;
    top:354px;
    width:90px;
    height:25px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u47 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u48_container {
    position:absolute;
    left:408px;
    top:400px;
    width:90px;
    height:25px;
}

#u48_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u49 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u50_container {
    position:absolute;
    left:440px;
    top:435px;
    width:90px;
    height:25px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u51 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u52_container {
    position:absolute;
    left:440px;
    top:470px;
    width:90px;
    height:25px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u53 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u54_container {
    position:absolute;
    left:497px;
    top:330px;
    width:90px;
    height:25px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u55 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u56_container {
    position:absolute;
    left:498px;
    top:180px;
    width:90px;
    height:25px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u57 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u58_container {
    position:absolute;
    left:590px;
    top:140px;
    width:90px;
    height:25px;
}

#u58_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u59 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u60_container {
    position:absolute;
    left:589px;
    top:195px;
    width:90px;
    height:25px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u61 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u62_container {
    position:absolute;
    left:588px;
    top:250px;
    width:90px;
    height:25px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u63 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u64_container {
    position:absolute;
    left:588px;
    top:300px;
    width:90px;
    height:25px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u65 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u66_container {
    position:absolute;
    left:588px;
    top:342px;
    width:90px;
    height:25px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u67 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u68_container {
    position:absolute;
    left:588px;
    top:390px;
    width:90px;
    height:25px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u69 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u70_container {
    position:absolute;
    left:620px;
    top:435px;
    width:90px;
    height:25px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u71 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u72_container {
    position:absolute;
    left:620px;
    top:470px;
    width:90px;
    height:25px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u73 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u74_container {
    position:absolute;
    left:690px;
    top:125px;
    width:90px;
    height:25px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u75 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../hyhs4d2_files/u8_normal.png');
}

.u76_container {
    position:absolute;
    left:678px;
    top:273px;
    width:90px;
    height:25px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:96px;
    height:31px;
}

.u77 {
    position:absolute;
    left:2px;
    top:5px;
    width:86px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

