body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:600px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:800px;
    height:600px;
}

.u1 {
    position:absolute;
    left:2px;
    top:292px;
    width:796px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:720px;
    top:530px;
    width:60px;
    height:50px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u2_text_sketch {
    font-family: 'Applied Font';
}

.u3_container {
    position:absolute;
    left:725px;
    top:535px;
    width:50px;
    height:40px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:40px;
}

.u4 {
    position:absolute;
    left:2px;
    top:12px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:22px;
    top:530px;
    width:60px;
    height:50px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u5_text_sketch {
    font-family: 'Applied Font';
}

#u6 {
    position:absolute;
    left:10px;
    top:250px;
    width:110px;
    height:260px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u7 {
    position:absolute;
    left:120px;
    top:250px;
    width:110px;
    height:260px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u8 {
    position:absolute;
    left:230px;
    top:250px;
    width:110px;
    height:260px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u9 {
    position:absolute;
    left:340px;
    top:250px;
    width:110px;
    height:260px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u10 {
    position:absolute;
    left:450px;
    top:250px;
    width:110px;
    height:260px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u11 {
    position:absolute;
    left:560px;
    top:250px;
    width:110px;
    height:260px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

#u12 {
    position:absolute;
    left:670px;
    top:250px;
    width:110px;
    height:260px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u13_container {
    position:absolute;
    left:27px;
    top:535px;
    width:50px;
    height:40px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:50px;
    height:40px;
}

.u14 {
    position:absolute;
    left:2px;
    top:12px;
    width:46px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

